/* Beginning of Products CSS */

.wrapper {
  background-color: #fffdfd00;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column;
  justify-content: flex-start; */
  align-items: start;
  max-width: 1100px;
  margin: auto;
  padding-top: 40px;
}

.catalog-header {
  font-size: 2rem;
  margin-left: 40px;
}

.catalog-section {
  margin: 40px 0px 40px 40px;
}

.catalog-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
}

@media (max-width: 1004px) {
  .catalog-items-container {
    justify-content: center;
  }
}

.catalog-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.catalog-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.enlarged-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.description {
  color: #555;
}

.price {
  color: #009688;
  font-weight: bold;
}

/* End of Products CSS */
