/* body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
.container {
  text-align: center;
  margin-bottom: 100px;
}
h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}
.coming-soon {
  max-width: 100%;
  height: auto;
  margin-top: 40px;
}
p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}
.contact-link {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}
