.allsides-1 {
  background: linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.allsides-1:hover {
  --d: 100%;
}

.product-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  margin: 20px 10px 15px 10px;
}

.product-card p {
  font-size: 1.25rem;
}

.product-card p span {
  color: #7207ff;
}

.button {
  list-style: none;
  min-width: 100px;
  text-align: center;
  padding: 20px 8px;
  margin: 0px;
}

.button a {
  text-decoration: none;
  color: white;
}

.navlist :hover {
  background-color: goldenrod;
}

.navbar {
  height: 100%;
  padding: 0px;
  top: 0;
  position: sticky;
  z-index: 1;
}

.email {
  background-color: rgb(170, 16, 16);
  border: none;
}

/* footer 2 css */

.footer-light-2 {
  background-color: var(--golden-yellow);
  -webkit-text-fill-color: inherit;
  background-clip: padding-box;
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px 25px;
  position: relative;
}

.container-7 {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper-two-2 {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block-two-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media (max-width: 575px) {
  .footer-wrapper-two-2 {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
}

.footer-title-2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two-2 {
  color: #1a1b1f;
  margin-top: 20px;
  text-decoration: none;
}

.footer-link-two-2:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-form-2 {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
}

.footer-form-block-2 {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.footer-form-field-2 {
  height: 48px;
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all 0.2s;
}

.footer-form-field-2:hover,
.footer-form-field-2:focus {
  border-color: #76879d;
}

.footer-form-field-2::-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field-2::placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit-2 {
  width: 50px;
  height: 48px;
  background-color: #1a1b1f;
  background-image: url("../images/");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.2s;
}

.footer-form-submit-2:hover {
  background-color: #3a4554;
}

.footer-divider-two-2 {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright-2 {
  color: #3a4554;
}

.footer-social-block-two-2 {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -12px;
  display: flex;
}

.footer-social-link-2 {
  margin-left: 12px;
}

/* Mobile Navigation Style */
@media (min-width: 993px) {
  .mobile-nav {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbar {
    display: none;
  }
}

.mobile-nav {
  overflow: hidden;
  position: relative;
}

.mobile-nav #myLinks {
  display: none;
}

.mobile-nav a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobile-nav a.icon {
  color: #e8ebea;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.mobile-nav a:hover {
  background-color: #ffc107;
  color: black;
}

.active2 {
  background-color: rgb(128, 0, 0);
  color: white;
}

/* End of Mobile Navigation Style */
