.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

.allsides-1 {
  background: linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.allsides-1:hover {
  --d: 100%;
}

/* Beginning of Navbar CSS */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navibar {
  background-color: rgb(128, 0, 0);
  padding: 15px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  /* max-width: 100%; */
}

.navibar-brand > img {
  width: 200px;
}

.navibar-toggler {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
  border: none;
  background: none;
  margin-left: auto;
}

.navibar-items {
  display: flex;
  align-items: center;
}

.navibar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navibar-menu li {
  margin: 0 15px;
}

.navi-item {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navi-item:hover {
  color: rgb(255, 216, 117);
}

.active {
  color: rgb(255, 216, 117);
  text-decoration: none;
  font-weight: bold;
}

.navibar-text {
  margin-left: 15px;
}

@media (max-width: 1006px) {
  .navibar-text {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navibar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 50%;
    background-color: rgb(128, 0, 0);
    transition: transform 1.1s ease-in-out;
    transform: translateX(100%);
  }

  .navibar-menu.show {
    display: flex;
    transform: translateX(0);
  }

  .navibar-menu li {
    text-align: left;
    margin: 10px 0;
    padding-left: 20px;
  }

  .navibar-toggler {
    display: block;
    right: 0;
  }
}

/* End of Navbar CSS */

.product-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  margin: 20px 10px 15px 10px;
}

.product-card p {
  font-size: 1.25rem;
}

.product-card p span {
  color: #7207ff;
}

.button {
  list-style: none;
  min-width: 100px;
  text-align: center;
  padding: 20px 8px;
  margin: 0px;
}

.button a {
  text-decoration: none;
  color: white;
}

.email {
  background-color: rgb(170, 16, 16);
  border: none;
}

/* Beginning of footer 2 css */

.footer-light {
  background-color: rgb(255, 216, 117);
  -webkit-text-fill-color: inherit;
  background-clip: padding-box;
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px 25px;
  position: relative;
}

.footer-container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

@media (max-width: 596px) {
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-block {
    margin-top: 30px;
  }
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media (max-width: 575px) {
  .footer-wrapper-two-2 {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media (max-width: 596px) {
  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-social-block {
    padding-top: 20px;
  }
}

.footer-copyright {
  color: #3a4554;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

/* Ending of footer 2 css */

/* Upload files CSS */

#fileList {
  margin-top: 20px;
}

#fileList > ul {
  list-style-type: none;
  padding: 0;
}

#fileList > ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  line-height: 1.5;
}

#fileList > ul > li > button {
  margin-left: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0 5px 3px 5px;
  border-radius: 3px;
  cursor: pointer;
}

/* End of Upload files CSS */

/* Beginning of Large Form Styling */

#enlargedForm {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: 80px auto;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-radius: 0.375rem;
}

#enlargedFormImage {
  max-width: 600px;
  display: block;
  width: 100%;
  object-fit: cover;
}

.enlarged-name {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}

.enlarged-description {
  font-size: 1.5rem;
  line-height: 1;
  margin: 2rem 0;
}

.enlarged-price {
  color: #009688;
  font-weight: bold;
  font-size: 1.5rem;
}

.quote-button {
  background-color: rgb(13, 96, 192);
  border: 1px solid rgb(13, 96, 192);
  color: #fff;
  font-size: larger;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-width: 250px;
  transition: transform 0.3s ease-in-out;
}

.quote-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 743px) {
  #enlargedForm {
    flex-direction: column;
  }
}

/* Ending of Large Form Styling */
