.allsides-1 {
  background: linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.allsides-1:hover {
  --d: 100%;
}

.product-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  margin: 20px 10px 15px 10px;
}

.product-card p {
  font-size: 1.25rem;
}

.product-card p span {
  color: #7207ff;
}

.button {
  list-style: none;
  min-width: 100px;
  text-align: center;
  padding: 20px 8px;
  margin: 0px;
}

.button a {
  text-decoration: none;
  color: white;
}

.navlist :hover {
  background-color: goldenrod;
}

.navbar {
  height: 100%;
  padding: 0px;
  top: 0;
  position: sticky;
  z-index: 1;
}

.email {
  background-color: rgb(170, 16, 16);
  border: none;
}

/* footer 2 css */

.footer-light {
  background-color: rgb(255, 216, 117);
  -webkit-text-fill-color: inherit;
  background-clip: padding-box;
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px 25px;
  position: relative;
}

.footer-container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media (max-width: 575px) {
  .footer-wrapper-two-2 {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

/* Mobile Navigation Style */
@media (min-width: 993px) {
  .mobile-nav {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbar {
    display: none;
  }
}

.mobile-nav {
  overflow: hidden;
  position: relative;
}

.mobile-nav #myLinks {
  display: none;
}

.mobile-nav a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobile-nav a.icon {
  color: #e8ebea;
  display: block;
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 10px;
}

.mobile-nav a:hover {
  background-color: #ffc107;
  color: black;
}

.active2 {
  background-color: rgb(128, 0, 0);
  color: white;
}

/* End of Mobile Navigation Style */

/* Upload files CSS */

#fileList {
  margin-top: 20px;
}

#fileList > ul {
  list-style-type: none;
  padding: 0;
}

#fileList > ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  line-height: 1.5;
}

#fileList > ul > li > button {
  margin-left: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0 5px 3px 5px;
  border-radius: 3px;
  cursor: pointer;
}

/* End of Upload files CSS */
