body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h1 {
  color: rgb(128, 0, 0);
}
p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(128, 0, 0);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  background-color: rgb(255, 216, 117);
  color: rgb(128, 0, 0);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
